@{
    ViewBag.Title = "Course Outline";
}
<div class="row">
    <div class="col-md-12">
        <a href="/Home/Signup">
            <img src="~/Content/images/Banner1.png" class="img-responsive" style="width: 800px; height: 145px; margin-top: -28px; margin-left: 150px; " alt="pic" style="border-image:auto" />
        </a>
    </div>
</div>
    <h2>Course Outline</h2>
    <div class="row">

        <div class="col-md-12 ">
            <div id="course" class="panel-group">

                <div class="panel panel-info">
                    <div class="panel-heading panelBg">
                        <div class="panel-title"><a href="#Prerequisite" data-toggle="collapse" data-parent="#course">Prerequisite</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="Prerequisite">
                        <div class="panel-body">
                            <div class="well">
                                <table class="table" style="width:100%">
                                    <tr>
                                        <td>
                                            <h6>   •	Must have email address and basic understanding of internet browsing.</h6>
                                            <h6>   •	Bring your own laptop with windows 7 or latest operating system or Mac with internet connectivity and have at least 20GB of free space to install new software</h6>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading panelBg">
                        <div class="panel-title"><a href="#Module1" data-toggle="collapse" data-parent="#course">Module 1</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="Module1">
                        <div class="panel-body">


                            <div class="well">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <h4>May 1st 2015, Friday</h4>
                                            <h6>•	Introduction to the Web of Things</h6>
                                            <h6>•	HTML History</h6>
                                            <h6>•	ECMAScript and its importance in Modern Technology</h6>
                                            <h6>•	HTML 5 Introduction</h6>

                                        </td>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-info ">
                    <div class="panel-heading panelBg">
                        <div class="panel-title"><a href="#Module2" data-toggle="collapse" data-parent="#course">Module 2</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="Module2">
                        <div class="panel-body">
                            <div class="well">
                                <table>
                                    <tr>
                                        <td>
                                            <h4>May 8th 2015, Friday</h4>
                                            <h6>•	HTML 5 Semantic Elements</h6>
                                            <h6>•	The Box Layout in HTML 5</h6>
                                            <h6>•	HTML 5 Enhancements</h6>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info ">
                    <div class="panel-heading panelBg">
                        <div class="panel-title"><a href="#Module3" data-toggle="collapse" data-parent="#course">Module 3</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="Module3">
                        <div class="panel-body">
                            <div class="well">
                                <table>
                                    <tr>
                                        <td>
                                            <h4>May 15th, 2015, Friday</h4>
                                            <h6>o	CSS 3 (Third Class)</h6>
                                            <h6>o	Introduction to JQuery</h6>
                                            <h4>May 22nd, 2015, Friday</h4>
                                            <h6>•	Introduction to MVC Pattern</h6>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info ">
                    <div class="panel-heading panelBg">
                        <div class="panel-title"><a href="#Module4" data-toggle="collapse" data-parent="#course">Module 4</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="Module4">
                        <div class="panel-body">
                            <div class="well">
                                <table>
                                    <tr>
                                        <td>
                                            <h4>May 29th, 2015 , Friday</h4>
                                            <h6>•	C# Basics</h6>
                                            <h6>•	Implementing Websites using ASP.NET MVC 5</h6>
                                            <h4>June 5th, 2015, Friday</h4>
                                            <h6>•	Learning Bootstrap</h6>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info ">
                    <div class="panel-heading panelBg">
                        <div class="panel-title"><a href="#Module5" data-toggle="collapse" data-parent="#course">Module 5</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="Module5">
                        <div class="panel-body">
                            <div class="well">
                                <table>
                                    <tr>
                                        <td>
                                            <h4>June 12th, 2015, Friday</h4>
                                            <h6>•	AngularJS Framework Basic</h6>
                                            <h4>June20th, 2015, Saturday</h4>
                                            <h6>•	AngularJS Framework Lab</h6>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info ">
                    <div class="panel-heading panelBg">
                        <div class="panel-title"><a href="#Module6" data-toggle="collapse" data-parent="#course">Module 6</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="Module6">
                        <div class="panel-body">
                            <div class="well">
                                <table>
                                    <tr>
                                        <td>
                                            <h4>June 27th, 2015 , Saturday</h4>
                                            <h6>•	RESTful Web Services</h6>
                                            <h4>July 4th, 2015, Saturday</h4>
                                            <h6>•	ASP.NET MVC Web API</h6>
                                            <h4>July 11th, 2015, Saturday</h4>
                                            <h6>•	Developing  RESTful services using the Web API (11th class)</h6>
                                            <h6>•	Debugging with Fiddler (11th class)</h6>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info ">
                    <div class="panel-heading panelBg">
                        <div class="panel-title"><a href="#Module7" data-toggle="collapse" data-parent="#course">Module 7</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="Module7">
                        <div class="panel-body">
                            <div class="well">
                                <table>
                                    <tr>
                                        <td>
                                            <h4>July 18 and 25, 2015 , Saturday</h4>
                                            <h6>•	Writing the client side code for the WEB API.(12th and 13th class)</h6>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading panelBg panel-title">
                        <a href="/Home/Signup">Register Now</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
