

@{
    ViewBag.Title = "Login";
}

@{
   HBS.WebPortal.Models.User u=(HBS.WebPortal.Models.User)Session["user"];
  <div class="row" >

      <div class="col-md-8">
          <h3>Welcome @u.UserName . YOu belong to Company @u.companyid</h3></div>
       @Html.ActionLink("Log Out", "LogOut")
  </div>    
      


}