@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>
<div class="col-md-12">

    <div class="well">

        Don’t hesitate to contact us if need assistance in any of the following:
        Enterprise Resource Planning (ERP)
        Customer Registration Solutions
        Supply Change Management Portals
        Web Designing Services
        Mobile App Development
        Software Testing and enhancements
        Database Design and SQL Server Reporting Services
        IT Consulting Services
        Business Automation Solutions

        contact us button
    </div>
</div>