@{
    ViewBag.Title = "SignUp";
}

<div id="angularize" ng-controller="StudentController">
    <div class="panel panel-info panel-default">
        <div class="panel-heading panelBg"><h4 style="color:white;">SignUp</h4></div>
        <div class="panel-body">
            <div class="well col-md-8">
                <form id="frmsignup" name="frmsignup" ng-submit="SaveStudent();">
                    <div class="row">

                        <div class="form-group col-md-5 has-warning">
                            <label>First Name</label>
                            <div ng-class="{'has-error': frmsignup.$invalid}" class="">
                                <input id="FirstName" type="text" value="" ng-model="Student.FirstName" class="form-control" placeholder="Enter Your First Name" required />
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-5 has-warning">
                            <div class="input-group">
                                <label>Last Name</label>
                                <input id="LastName" type="text" value="" ng-model="Student.LastName" class="form-control" placeholder="Enter Your Last Name" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5 has-warning">
                            <label>Email Address</label>
                            <div ng-class="{'has-error': frmsignup.$invalid}" class="">
                                <input id="Email" type="text" value="" ng-model="Student.EmailAddress" class="form-control" placeholder="Enter Your Email" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5 has-warning">
                            <label>Gender</label>
                            <div class="input-group">
                                <input type="radio" name="gender" ng-model="Student.Gendar" value="Male" required /> Male
                                <input type="radio" name="gender" ng-model="Student.Gendar" value="Female" required /> Female
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5 has-warning">
                            <div class="input-group">
                                <label>Profession</label>
                                <input type="text" value="" ng-model="Student.Profession" class="form-control" placeholder=" Your Profession" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5 has-warning">
                            <div class="input-group">
                                <label>How you heard about this course</label>
                                <input type="text" value="" ng-model="Student.Source" class="form-control" placeholder=" " required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-md-8">
                            <button class="btn btn-warning"><span class="glyphicon glyphicon-user"></span> Save And Reserve</button>
                        </div>
                    </div>
                </form>
                <form action="https://www.paypal.com/cgi-bin/webscr" style=" margin-top: -54px; margin-left: 170px;position:relative;" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="QXDNQA3T7W5BJ">
                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>


        </div>
    </div>
</div>