@{
    ViewBag.Title = "Team";
}

@{ if (Session["user"] != null) { 
<h2>Team @Session["user"].ToString()</h2>
<div class="row">
    
        <div class="col-md-12 ">
            <div  id="accordian" class="panel-group">
                   <div  class="panel panel-info">
                       <div class="panel-heading">
                           <div class="panel-title" ><a href="#naveed" data-toggle="collapse" data-parent="#accordian">Naveed Aziz (CIO)</a></div>
                       </div>
                       <div class="panel-collapse collapse" id="naveed">
                           <div class="panel-body">

                               
                               <div class="well">
                                   <table class="table">
                                   <tr>
                                       <td><img  width='50%'  src="~/Content/images/naveed1.jpg"  class="img-responsive thumbnail"/>
                               </td>
                                       <td>Naveed's is the most talented guy on the team not only does he have great technical abilities but also has great deal of knowledge on the business side. He has a special ability to solve problems quickly without making too many mistakes.</td>
                                     </tr>  
                                       </table>
                                       </div>
                            </div>

                       </div>
                   </div>


                    <div  class="panel panel-info">
                       <div class="panel-heading">
                           <div class="panel-title" ><a href="#umais" data-toggle="collapse" data-parent="#accordian">Umais Siddiqui (CEO)</a></div>
                       </div>
                       <div class="panel-collapse collapse" id="umais">
                           <div class="panel-body">
                               <div class="well">
                                   Naveed's Info
                               </div>
                            </div>

                       </div>
                   </div>

                    <div  class="panel panel-info">
                       <div class="panel-heading">
                           <div class="panel-title" ><a href="#saqib" data-toggle="collapse" data-parent="#accordian">Saqib Siddiqui (CTO)</a></div>
                       </div>
                       <div class="panel-collapse collapse" id="saqib">
                           <div class="panel-body">
                               <div class="well">
                                   Naveed's Info
                               </div>
                            </div>

                       </div>
                   </div>
                </div>

    </div>

    </div>
}
    else{ Response.Write("Invalid Login");}
}