<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
<connectionStrings>
  <add name="TimeTrackingEntities" connectionString="metadata=res://*/Entities.TimeTracking.EF.TimeTrackingModel.csdl|res://*/Entities.TimeTracking.EF.TimeTrackingModel.ssdl|res://*/Entities.TimeTracking.EF.TimeTrackingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iris.arvixe.com;initial catalog=heartbeatservice;persist security info=True;user id=hbuser;password=heartbeat@8681;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

</connectionStrings></configuration>