@{
    ViewBag.Title = "Customer";
}

<div ng-controller="CustomerController">


    <div id="dashboard" >

        <div class="panel panel-primary">
            <div class="panel-heading panel-primary ">Customer Panel</div>
            <div class="panel-body">
                <div class="row" >
                    <div class="col-md-12">
                 <div class="form-group"> 
                <a href="#frmAdd"  class="btn btn-default" data-toggle="modal" ><span class="glyphicon glyphicon-plus-sign"></span> New Customer</a>
                </div>
                        </div>
            </div>

                 <div class="row">
                     <div class="col-md-5">

          <div class="form-group"> 
                <input class="form-control" placeholder="Search By First Name, Last Name or Date Of Birth"  />

            </div>
                     </div>

                     <div class="col-md-5">

          <div class="form-group"> 
                <a href="#"  class="btn btn-default"  ><span class="glyphicon glyphicon-search "></span></a>

            </div>
                          
                     </div>
                 </div>
                <div class="row">
                     <div class="col-md-12 gridStyle" id="timesheetTable" ng-grid="GridOptions"></div>

                </div>
                 
            </div>
        </div>
    </div>
    
  
   
        


       <div class="modal fade " tabindex="-1" id="frmAdd" >
                 <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-header ">
                             <a href="#" class="close" data-dismiss="modal">&times;</a>
                             <h4 class="text-warning">Add Customer</h4>
                             
                         </div>
                         <div class="modal-body">
                              
                             <div class="row">
                             <div class="form-group col-md-5 has-warning"> 
                                  <div class="input-group">
                                <input type="hidden" id="user" ng-model="Customer.UserId" value="@ViewBag.userid" />
                                      <input type="hidden" id="company" ng-model="Customer.CompanyId" value="@ViewBag.companyid" />
                                 <input id="FirstName" type="text" value="" ng-model="Customer.FirstName" class="form-control" placeholder="First Name"/> 
                                  </div>
                                  </div>
                                 <div class="form-group col-md-2 has-warning"> <input id="MiddleInitial" type="text" value="" ng-model="Customer.MiddleInitial" class="form-control" placeholder="MI"/> </div>

                              
                <div class="form-group col-md-5 has-warning"> <input id="LastName" type="text" value="" ng-model="Customer.LastName" class="form-control" placeholder="Last Name"/> </div>
                                 </div>
          
           <div class="row"><div class="form-group col-md-6 has-warning"> <input id="address1" type="text" value="" ng-model="Customer.Address1" class="form-control" placeholder="Address 1"/> </div>
           <div class="form-group col-md-6 has-warning "> <input id="Address2" type="text" value="" ng-model="Customer.Address2" class="form-control" placeholder="Address 2"/> </div></div>
           <div class="row">
                              <div class="form-group col-md-5 has-warning"> <input id="city" type="text" value="" ng-model="Customer.City" class="form-control" placeholder="City"/> </div>
<div class="form-group col-md-2 has-warning"> <input id="State" type="text" value="" ng-model="Customer.State" class="form-control" placeholder="State"/> </div>
            <div class="form-group col-md-5 has-warning"> <input id="Zip" type="text" value="" ng-model="Customer.Zip" class="form-control" placeholder="Zip"/> </div>
               </div>

                            <div class="row"> <div class="form-group col-md-4 has-warning"> <input id="DateOfBirth" type="text" value="" ng-model="Customer.DOB" class="form-control" placeholder="Date Of Birth"/> </div></div>

                             <div class="row"> <div class="form-group col-md-6 has-warning"> <input id="HomePhone" type="text" value="" ng-model="Customer.HomePhone" class="form-control" placeholder="Home Phone"/> </div>
                                 <div class="form-group col-md-6 has-warning"> <input id="CellPhone" type="text" value="" ng-model="Customer.CellPhone" class="form-control" placeholder="Cell Phone"/> </div>

                             </div>

                             </div>

                          <div class="modal-footer">       
            <div class="form-group  col-md-8"> 
                <button class="btn btn-warning"  class="form-control" ng-click="AddCustomer();"><span class="glyphicon glyphicon-user"></span> Save</button>
                <a href="#" id="dismiss" class="btn btn-warning"   data-dismiss="modal">Cancel</a>
                <input class="btn btn-warning" type="button"   value="clear" ng-click="clearCustomer();" />
                <label>{{Customer|json}}</label>
            </div>
                         </div>
                     </div>
                    </div>


    </div>
    </div>