@{
    ViewBag.Title = "Module";
    Layout = "~/Views/Shared/_NavLayout.cshtml";
}


<div id="page-wrapper" ng-controller="ModuleController" ng-init="init()">


    <div id="dashboard">

        <div class="panel">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Module</h1>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="#frmAdd" class="btn btn-warning" ng-click="clearModule();" data-toggle="modal"><span class="glyphicon glyphicon-plus-sign"></span>Add New Module</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">

                        <div class="form-group has-warning">
                            <input class="form-control " ng-model="SearchParam" placeholder="Module Name" />

                        </div>
                    </div>

                    <div class="col-md-5">

                        <div class="form-group">
                            <button class="btn btn-warning" ng-click="ModuleSearch();"><span class="glyphicon glyphicon-search "></span></button>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 gridStyle" id="ModuleGrid" ng-grid="GridOptions"></div>

                </div>

            </div>
        </div>
    </div>

    @*add module*@


    <div class="modal fade " tabindex="-1" id="frmAdd">
        <div class="modal-dialog">


            <div class="modal-content">
                <div class="modal-header ">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 class="text-warning">Add Module</h4>

                </div>
                <form id="test2" name="test2" ng-submit="AddModule();">
                    <div class="modal-body">

                        <div class="row">
                            <div class="form-group col-md-6 has-warning">
                                <label>Module Name</label>
                                <div ng-class="{'has-error': test2..$invalid}" class="input-group">
                                    <input id="ModuleName" type="text" value="" ng-model="Module.ModuleName" required class="form-control" placeholder="Module Name" />
                                    <span class="help-block error" ng-show="test2.ModuleName.$error.required">Required</span>
                                </div>
                            </div>





                            <div class="form-group col-md-6 has-warning">
                                <label>Module Description</label>
                                <div ng-class="{'has-error': test2..$invalid}" class="input-group">
                                    <input id="ModuleDescription" type="text" value="" ng-model="Module.ModuleDescription" required class="form-control" placeholder="Module Description" />
                                    <span class="help-block error" ng-show="test2.ModuleDescription.$error.required">Required</span>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 has-warning">
                                <label>Display Order</label>
                                <div ng-class="{'has-error': test2..$invalid}" class="input-group">
                                    <input id="ModuleDisplayOrder" type="text" value="" ng-model="Module.DisplayOrder" required class="form-control" placeholder="Display Order" />
                                    <span class="help-block error" ng-show="test2.ModuleDisplayOrder.$error.required">Required</span>
                                </div>
                            </div>




                            <div class="form-group col-md-6 has-warning">
                                <label>Module URL</label>
                                <div ng-class="{'has-error': test2..$invalid}" class="input-group">
                                    <input id="ModuleURL" type="text" value="" ng-model="Module.ModuleURL" required class="form-control" placeholder="Module URL" />
                                    <span class="help-block error" ng-show="test2.ModuleURL.$error.required">Required</span>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-md-6 has-warning">
                                <label>Parent Module</label>
                                <div class="input-group">
                                    <select id="pId" ng-model="myModules" ng-options="Module.ModuleName for Module in AllProviders"><option value="">---Select Module---</option></select>
                                    <input name="ParentId" type="hidden" value="{{Module.ParentId}}" />
                                </div>
                            </div>

                            <div class="form-group col-md-6 has-warning">
                                <label>Show Module</label>
                                <div class="input-group">
                                    <input type="checkbox" ng-model="Module.IsForAll" name="chkbx" />
                                </div>
                            </div>



                        </div>

                        <div class="row">

                            <div class="form-group col-md-6 has-warning">
                                <label>Icon Name</label>
                                <div ng-class="{'has-error': test2..$invalid}" class="input-group">
                                    <input id="IconName" type="text" value="" ng-model="Module.IconName" required class="form-control" placeholder="Icon Name" />
                                    <span class="help-block error" ng-show="test2.ModuleURL.$error.required">Required</span>
                                </div>
                            </div>
                        </div>




                        <div class="modal-footer">
                            <div class="form-group  col-md-8">
                                <button class="btn btn-warning" class="form-control"><span class="glyphicon glyphicon-user"></span>Save</button>
                                <a href="#" id="dismiss" class="btn btn-warning" data-dismiss="modal">Cancel</a>
                                <input class="btn btn-warning" type="button" value="Clear" ng-click="clearModule();" />

                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!--Edit-->

    <a href="#frmEdit" id="editbtn" style="visibility:hidden" class="btn btn-default" data-toggle="modal"><span class="glyphicon glyphicon-plus-sign"></span> Edit Customer</a>

    <div class="modal fade " tabindex="-1" id="frmEdit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 class="text-warning">View/Edit</h4>

                </div>

                <form id="test2" name="test2" ng-submit="UpdateModule();">
                    <div class="modal-body">

                        <div class="row">
                            <div class="form-group col-md-6 has-warning">
                                <label>Module Name</label>
                                <div ng-class="{'has-error': test2..$invalid}" class="input-group">
                                    <input id="ModuleNameEdit" type="text" value="" ng-model="Module.ModuleName" required class="form-control" placeholder="Module Name" />
                                    <span class="help-block error" ng-show="test2.ModuleURL.$error.required">Required</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6 has-warning">
                                <label>Module Description</label>
                                <div ng-class="{'has-error': test2..$invalid}" class="input-group">
                                    <input id="ModuleDescriptionEdit" type="text" value="" ng-model="Module.ModuleDescription" required class="form-control" placeholder="Module Description" />
                                    <span class="help-block error" ng-show="test2.ModuleURL.$error.required">Required</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 has-warning">
                                <label>Display Order</label>
                                <div ng-class="{'has-error': test2..$invalid}" class="input-group">
                                    <input id="DisplayOrderEdit" type="text" value="" ng-model="Module.DisplayOrder" required class="form-control" placeholder="Display Order" />
                                    <span class="help-block error" ng-show="test2.ModuleURL.$error.required">Required</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6 has-warning ">
                                <label>Module URL</label>
                                <div ng-class="{'has-error': test2..$invalid}" class="input-group">
                                    <input id="ModuleURLEdit" type="text" value="" ng-model="Module.ModuleURL" required class="form-control" placeholder="Module URL" />
                                    <span class="help-block error" ng-show="test2.ModuleURL.$error.required">Required</span>
                                </div>
                            </div>
                        </div>



                        <div class="row">

                            <div class="form-group col-md-6 has-warning">
                                <label>Parent Module</label>
                                <div class="input-group">
                                    <select id="paeditId" ng-model="Module.ParentId" ng-options="Module.ModuleId as Module.ModuleName for Module in AllProviders"><option value="">---Select Module---</option></select>
                                    <input name="EditParentId" type="hidden" value="{{Module.ParentId}}" />
                                </div>
                            </div>

                            <div class="form-group col-md-6 has-warning">
                                <label>Show Module</label>
                                <div class="input-group">
                                    <input type="checkbox" ng-model="Module.IsForAll" name="chkbx" />
                                </div>
                            </div>



                        </div>

                        <div class="row">

                            <div class="form-group col-md-6 has-warning">
                                <label>Icon Name</label>
                                <div ng-class="{'has-error': test2..$invalid}" class="input-group">
                                    <input id="IconName" type="text" value="" ng-model="Module.IconName" required class="form-control" placeholder="Icon Name" />
                                    <span class="help-block error" ng-show="test2.ModuleURL.$error.required">Required</span>
                                </div>
                            </div>
                        </div>




                    </div>

                    <div class="modal-footer">
                        <div class="form-group  col-md-8">
                            <button class="btn btn-warning" class="form-control"><span class="glyphicon glyphicon-user"></span> Save</button>
                            <a href="#" id="dismissEdit" class="btn btn-warning" data-dismiss="modal">Cancel</a>
                            <input class="btn btn-warning" type="button" value="Clear" ng-click="clearModule();" />

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>


</div>
