@{
    ViewBag.Title = "Professional";
}

<div ng-controller="ProfessionalController">


    <div class="panel panel-primary">
        <div class="panel-heading panelBg ">Professional Panel</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <a href="#frmAddProfessional" class="btn btn-warning" data-toggle="modal"><span class="glyphicon glyphicon-plus-sign"></span>Add New Professional</a>
                    </div>
                </div>
            </div>

        </div>


        <div class="modal fade " tabindex="-1" id="frmAddProfessional">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header ">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4 class="text-warning">Add Professioanl</h4>

                    </div>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group col-md-5 has-warning">
                            <div class="input-group">
                                <input type="hidden" id="user" ng-model="Customer.UserId" value="@ViewBag.userid" />
                                <input type="hidden" id="company" ng-model="Customer.CompanyId" value="@ViewBag.companyid" />
                                <input id="FirstName" type="text" value="" ng-model="Professional.FirstName" class="form-control" placeholder="First Name" />
                            </div>
                        </div>

                        <div class="form-group col-md-2 has-warning">
                            <input id="LastName" type="text" value="" ng-model="Professional.LastName" class="form-control" placeholder="Last Name" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-2 has-warning">
                            <div class="input-group">

                                <input id="ProfessionalIdentificationNumber" type="text" value="" ng-model="Professional.ProfessionalIdentificationNumber" class="form-control" placeholder="Professional ID #" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-2 has-warning">
                            <div class="input-group">

                                <input id="Phone" type="text" value="" ng-model="Professional.Phone" class="form-control" placeholder="Phone" />
                            </div>
                        </div>

                    </div>


                      
                    <div class="modal-footer">
                        <div class="form-group  col-md-8">
                            <button class="btn btn-warning" class="form-control" ng-click="AddProfessional();"><span class="glyphicon glyphicon-user"></span>Save</button>
                            <a href="#" id="dismiss" class="btn btn-warning" data-dismiss="modal">Cancel</a>
                            <input class="btn btn-warning" type="button" value="Clear" ng-click="clearProfessional();" />

                        </div>
                    </div>
                </div>
            </div>


        </div>


        <a href="#frmEditProfessional" id="editbtn" style="visibility: hidden" class="btn btn-default" data-toggle="modal"><span class="glyphicon glyphicon-plus-sign"></span>Edit Professional</a>

        
         <div class="modal fade " tabindex="-1" id="frmEditProfessional">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header ">
                        <a href="#" class="close" data-dismiss="modal">&times;</a> <h4 class="text-warning">Edit Professioanl</h4>

                    </div>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group col-md-5 has-warning">
                            <div class="input-group">
                                <input type="hidden" id="Edituser" ng-model="Customer.UserId" value="@ViewBag.userid" />
                                <input type="hidden" id="Editcompany" ng-model="Customer.CompanyId" value="@ViewBag.companyid" />
                                <input id="EditFirstName" type="text" value="" ng-model="Professional.FirstName" class="form-control" placeholder="First Name" />
                            </div>
                        </div>

                        <div class="form-group col-md-2 has-warning">
                            <input id="EditLastName" type="text" value="" ng-model="Professional.LastName" class="form-control" placeholder="Last Name" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-2 has-warning">
                            <div class="input-group">

                                <input id="EditProfessionalIdentificationNumber" type="text" value="" ng-model="Professional.ProfessionalIdentificationNumber" class="form-control" placeholder="Professional ID #" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-2 has-warning">
                            <div class="input-group">

                                <input id="EditPhone" type="text" value="" ng-model="Professional.Phone" class="form-control" placeholder="Phone" />
                            </div>
                        </div>

                    </div>





                    div class="modal-footer">
                    <div class="form-group  col-md-8">
                        <button class="btn btn-warning" class="form-control" ng-click="UpdateProfessional();"><span class="glyphicon glyphicon-user"></span>Save</button>
                        <a href="#" id="dismissEdit" class="btn btn-warning" data-dismiss="modal">Cancel</a>
                        <input class="btn btn-warning" type="button" value="Clear" ng-click="clearProfessional();" />

                    </div>
                </div>
                </div>
            </div>
           </div>

    </div>
