@{
    ViewBag.Title = "WorkflowAdmin";
    Layout = "~/Views/Shared/_NavLayout.cshtml";
}

<div id="page-wrapper">
    <div class="panel">
        <div class="col-lg-12">
            <h1 class="page-header">
                Workflow Queue Maintenance
            </h1>
        </div>        
        <div class="panel-body">
            <div id="workflowAdminGrid"></div>
        </div>
    </div>
</div>