<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.min.css" />
<link href="~/Content/bootstrap/bootstrap-flatly-theme.min.css" rel="stylesheet" />
   
  
    <link rel="stylesheet" href="~/Content/bootstrap/styles.css" />
       <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" /> 
    <link rel="stylesheet" href="~/Content/fullcalendar.css" />
    <meta name="viewport" content="width=device-width" />
</head>
<body ng-app="HeartbeatApp">
    <div id="mainContent" class="container" >
        <div id='controls' class='navbar navBg navbar-fixed-top' ng-controller="HeartbeatController" data-ng-init="init();">

            <div id="logo" class="navbar-header">
                <div class="logoText">

                    <img src="~/Content/images/newLogo1.png" class="img-responsive" />
                </div>

                <button class=" btn btn-warning navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                    <span class="glyphicon glyphicon-chevron-down "></span>

                </button>

            </div>
            <div class="navbar-collapse collapse navbar-left">

                <ul id="menu" class="nav navbar-nav  "></ul>

                @{if (ViewBag.app !=null){
                <input type="hidden" id="app" value=@ViewBag.app>
                }
                  else { 
                <input type="hidden" id="app" value='Website'>
                }
                }
            </div>

        </div>
    @RenderBody()

</div>
     <script src="~/Content/scripts/jquery-1.8.2.min.js"></script>
      <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> 
    <script src="~/Content/scripts/bootstrap.min.js"></script>
    <script src="~/Content/Angular/angular.min.js"></script>
    <script src="~/Content/Angular/ng-grid-2.0.6.min.js"></script>
    <script src="~/Content/Angular/app.js">
    </script>
    <script src="~/Content/Angular/HeartbeatService.js"></script>
    <script src="~/Content/Angular/HeartbeatController.js"></script>
    <script src="~/Content/Angular/SchedulingController.js"></script>
    <script src="~/Content/scripts/modernizr-2.6.2.js"></script>
    <script src="~/Content/scripts/script.js"></script>
    <script src="~/Content/scripts/fullcalendar.min.js"></script>
</body>

</html>
   