@{
    ViewBag.Title = "Index";
}

<div class="row"  >
    <div class="col-md-4 col-md-offset-4"  >
     
        <div id="theCarousel" class ="carousel slide" data-interval="4000" >

                  <ol class="carousel-indicators" >
            <li data-target="#theCarousel active" data-slide-to="0"></li>
            <li data-target="#theCarousel" data-slide-to="1"></li>
                      <li data-target="#theCarousel" data-slide-to="2"></li>
            <li data-target="#theCarousel" data-slide-to="3"></li>
                      <li data-target="#theCarousel" data-slide-to="4"></li>
            <li data-target="#theCarousel" data-slide-to="5"></li>
        </ol>
            <div class="carousel-inner">
       <div class="item active " >
           <div class="carousel-caption"><p class="text-success">Look in to my eyes and you will see it all.</p></div>
           <div class="panel panel-info panel-primary">
               <div class="panel-heading">Amir Saleem</div>
               <div class="panel-body">
           <img src="~/Content/images/amir_shot.jpg" class="thumbnail img-responsive"  />
                   </div>
               <div class="panel-footer text-warning">amir@heartbeatservice.com</div>
               </div>
           
           </div>
                 <div class="item ">
                     <div class="panel panel-info panel-primary">
               <div class="panel-heading">Amir Saleem</div>
               <div class="panel-body">
            <img src="~/Content/images/naveedshot.jpg" class="thumbnail img-responsive"   />
                   </div>
                          <div class="panel-footer text-warning">naveed@heartbeatservice.com</div>
               </div>
                       <div class="carousel-caption"><p class="text-success">How may I help you?</p></div>
                         </div>
                     
                   
          


                 <div class="item carimages">
            <img src="~/Content/images/raheelshot.jpg" class="thumbnail img-responsive"    />
                     <div class="carousel-caption"><p class="text-success">I am serious about success.</p></div>
          </div>
        

            <div class="item carimages">
            <img src="~/Content/images/umaisshot.jpg" class="thumbnail img-responsive"    />
                     <div class="carousel-caption"><p class="text-success">You got to see it to believe it.</p></div>
           </div>
        

        <div class="item carimages">
            <img src="~/Content/images/tayyibshot.jpg" class="thumbnail img-responsive"    />
                     <div class="carousel-caption"><p class="text-success">I am not kidding.</p></div>
           
        
        </div>

                <div class="item carimages">
            <img src="~/Content/images/saqibshot.jpg" class="carimages"   />
                     <div class="carousel-caption"><p class="text-success">Leave it up to me and you will remain satisfied.</p></div>
           
        
        </div>
         
            </div>
            </div>
        </div>
    </div>